    <footer class="footer sec-wrap">
        <section class="footer__bottom">
            <div class="width__block footer__block">
                <p class="copyright">Copyright © Mynavi Corporation</p>
            </div>
        </section>
    </footer>