<div class="mainHeader__body width__block">
    <div class="header-logo">
        <a href="" class="mainHeader__logo"></a>
    </div>
    <div class="right">
        <a href="https://oogiripf.xsrv.jp/new_five_oogiri/index.php" class="header-link">
            <div class="header-title">会場</div>
        </a>
        <a href="" class="header-link">
            <div class="header-title">ルール</div>
        </a>
        <a href="" class="header-link">
            <div class="header-title">ログイン</div>
        </a>
        <a href="" class="header-link">
            <div class="header-title">マイページ</div>
        </a>
    </div>
</div>