<section class="sec sec-wrap" id="sixth-sec">
    <div class="btn-wrapper btn-wrapper-blue">
        <div class="six-sec-flex">
            <div class="six-sec-wrap">
                <div class="six-sec-title">“支給方法例”</div>
                <h2 class="six-sec-bottom">
                    <ul>
                        <li>・毎月の給与といっしょに支払われる</li>
                        <li>・ボーナスや一時金として支給される</li>    
                    </ul>
                </h2>
            </div>
        </div>
    </div>
</section>