<div class="swiper-slide vertical-slider__slide sec-second">
    <h1 data-text="black mirror"><span>5</span></h1>
    <div class="trapezoid_left">
        <div class="trapezoid_left-title">
            大喜利ファイブとは
        </div>
        <div class="trapezoid_left-text">
            5回答の総得点で競う多答大喜利
        </div>
        <div class="trapezoid_left-text">
            参加するためには右の参加資格のいずれかに該当する必要があります
        </div>
    </div>
    <div class="sec-second-wrap">
        <div class="trapezoid_right">
            
        </div>
    </div>
    <div class="trapezoid_right-contents">
        <div class="trapezoid_right-title">
            参加資格
        </div>
        <div class="trapezoid_right-text">
            大喜利名人維新のトロフィー獲得者<br>(感謝状なども含む)
        </div>
        <div class="trapezoid_right-text">
            大喜利W杯ベスト8以上or称号獲得者
        </div>
        <div class="trapezoid_right-text">
            大喜利ファイブβ優勝者
        </div>
    </div>
    <div class="button008">
        <a href="#" class="button_02">
            <p class="button008-text">該当者一覧</p>
            <p class="button008-text button008-size">→</p>
        </a>
    </div>
</div>