<div class="swiper-slide vertical-slider__slide sec-third">
    <div id="third-wrap">
        <div class="third-wrap-flex-vertical">
            <div class="third-wrap-flex-row">
                <div class="third-content">
                    aaa
                </div>
                <div class="third-content">
                    aaa
                </div>
                <div class="third-content">
                    aaa
                </div>
            </div>
            <div class="third-wrap-flex-row">
                <div class="third-content">
                    aaa
                </div>
                <div class="third-content">
                    aaa
                </div>
                <div class="third-content">
                    aaa
                </div>
            </div>
        </div>
    </div>
</div>