<section class="sec sec-wrap" id="sixth-sec">
    <div class="btn-wrapper btn-wrapper-blue">
        <a href="https://mynavi-kaigo.jp/job/search?iti=01&iti=02&ti=01&ti=02&ti=03&se=0" class="btn btn-search orange">
            処遇改善加算・特定処遇改善加算を<br>取得している求人を検索する
        </a>
        <button  onClick="CloseWindow()" id="closebtn" class="btn btn-search">このページを閉じる</button>
    </div>
</section>