body {
    overflow: hidden;
}

figure {
    z-index: 20;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    // height: calc(30vh - $header-height);
    // width: calc(30vw - $scroll-width);
}

svg {
    padding: 40px;
    width: 300px;
}

svg > * {
    fill: #fff;
    stroke: #fff;
    stroke-width: 0.85px;
    .d {
        fill: #fff;
    }
}

/* hover tip */
